/*
|----------------------------------------------------------------------------
| GLOBAL STYLES
|----------------------------------------------------------------------------
*/

.navbar-right .btn-primary {
  margin-right: 75px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-position: 0 0;
  background-size: cover;
  background-image: url(https://a0.muscache.com/pictures/fe406606-ff51-4b7f-8095-16f2c720bb03.jpg);
}
