/*
|----------------------------------------------------------------------------
| GLOBAL STYLES
|----------------------------------------------------------------------------
*/

.navbar-right .btn-primary {
  margin-right: 75px;
}

.banner {
  display: flex;
  align-items: center;
  height: 89vh;
  min-width: 500px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  background-position: 0 0;
  background-size: cover;
  background-image: url(https://a0.muscache.com/pictures/fe406606-ff51-4b7f-8095-16f2c720bb03.jpg);
}

.banner_content {
  width: 100%;
  height: 400px;
  background: #fff;
}
